name: deploy

on:
  push:
    branches:
      - main

jobs:
  caprover:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.11.0
      - working-directory: ./website
        run: |
          pnpm install
          pnpm run build
      - uses: docker/login-action@v3
        with:
          registry: docker.mattglei.ch
          username: admin
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - run: |
          docker build -t docker.mattglei.ch/terminal .
          docker push docker.mattglei.ch/terminal
      - uses: caprover/deploy-from-github@v1.1.2
        with:
          server: https://lab.mattglei.ch
          app: terminal
          token: '${{ secrets.CAPROVER_APP_TOKEN }}'
          image: docker.mattglei.ch/terminal
